<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Office.Interop.Access.Dao" version="15.0.4420.1017" targetFramework="net472" />
  <package id="System.Data.OleDb" version="5.0.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>